<!doctype html>
<html lang="en-US">
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>GSO-Initiation-Authorized</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
		<link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    </head>

    <body>
		<div class = "poobledooble">
            <div class = "header_1">
                <h1>
                	G. S. O.
                </h1>
                <p>
                    ———————————————————————————————————————<br>
                </p>

                <h2>
                    Tartarus-Authorizarion
                </h2>

                <p>
                    ———————————————————————————————————————<br>
                    dooby doo; I wanna be like you oooooo.
                    Dooby dooby dooby.
                </p>
            </div>
        
            <div class = "sidecontent">
                <a href= "project-cypher.html">Project Cypher<br></a>
                <a href= "tampa-incident.html">The Tampa Incident<br></a>
    			<a href= "sam-ham.html">What a ham<br></a>
			    <a href= "sam-quest.html">Sam and Bird<br></a>
		    	<a href= "sam-jedi.html">Jedi Sam<br></a>
	    		<a href= "sam-cash-money.html">Cash Money Sam<br></a>
    			<a href= "sam-bones.html">Sammy Bones<br></a>
            </div>
        </div>
		
        <form action = "/unlock" method = "POST">
            <button type = "submit">Initialize</button>
        </form>
    </body>


</html>
